.search-group{
  width: 100%;
  border-bottom: 2px solid white;
}

.search-group input{
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 0;
}

.search-group input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: white;
  border-radius: 0;
}